body {
    font-family: Arial, sans-serif;
    background-color: #111111; /* Darker background color */
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #222;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
}
